{% extends "layout.html" %}

{% block content %}
    <div style="text-align: center; margin-top: 50px;">
        <h1 style="font-size: 6rem; color: #e50914; margin: 0;">404</h1>
        <p style="font-size: 1.5rem; margin-bottom: 30px;">Oops! We couldn't find that page.</p>
        
        <img src="https://media.giphy.com/media/26hkhKd2Cp5WMWU1O/giphy.gif" alt="Confused Travolta" style="max-width: 300px; border-radius: 10px; margin-bottom: 30px; opacity: 0.8;">
        
        <br>
        <a href="/" class="btn btn-primary">Go Home</a>
    </div>
{% endblock %}