<!DOCTYPE html>
<html>
<head>
    <title>Page Not Found</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="error-container">
        <h1 class="error-code">404</h1>
        <p class="error-message">Oops! We couldn't find that movie (or page).</p>
        
        <img src="https://media.giphy.com/media/26hkhKd2Cp5WMWU1O/giphy.gif" alt="Confused Travolta" style="max-width: 300px; border-radius: 10px; margin-bottom: 30px;">
        <br>
        
        <a href="/" class="btn">Go Home</a>
    </div>
</body>
</html>