{% extends "layout.html" %}

{% block content %}
    <h1 style="text-align: center;">Edit Movie Details</h1>
    
    <form action="/users/{{ user_id }}/update_movie/{{ movie.id }}" method="post">
        
        <label>Title:</label>
        <input type="text" name="name" value="{{ movie.name }}" required>
        
        <label>Director:</label>
        <input type="text" name="director" value="{{ movie.director }}">
        
        <label>Year:</label>
        <input type="number" name="year" value="{{ movie.year }}">
        
        <label>Rating (0-10):</label>
        <input type="number" name="rating" step="0.1" value="{{ movie.rating }}">
        
        <input type="submit" value="Save Changes">
    </form>
    
    <div style="text-align: center; margin-top: 20px;">
        <a href="/users/{{ user_id }}" style="color: #bbb;">Cancel</a>
    </div>
{% endblock %}