{% extends "layout.html" %}

{% block content %}
    <h1 style="text-align: center;">Community Members</h1>
    
    <ul class="user-list">
        {% for user in users %}
            <li>
                <a href="/users/{{ user.id }}" style="color: white; text-decoration: none; font-size: 1.2rem;">
                    👤 {{ user.name }}
                </a>
                <span style="color: #777; font-size: 0.9rem;">ID: {{ user.id }}</span>
            </li>
        {% else %}
            <li>No users found.</li>
        {% endfor %}
    </ul>
    
    <div style="text-align: center; margin-top: 30px;">
        <a href="/add_user" class="btn btn-primary">+ Add New User</a>
    </div>
{% endblock %}