{% extends "layout.html" %}

{% block content %}
    <h1 style="text-align: center;">Community Members</h1>
    
    <ul class="user-list">
        {% for user in users %}
            <li class="user-item">
                <a href="/users/{{ user.id }}" class="user-link">
                    <span class="user-name">👤 {{ user.name }}</span>
                    <span class="user-id">ID: {{ user.id }}</span>
                </a>
            </li>
        {% else %}
            <li>No users found.</li>
        {% endfor %}
    </ul>
    
    <div style="text-align: center; margin-top: 30px;">
        <a href="/add_user" class="btn btn-primary">+ Add New User</a>
    </div>
{% endblock %}